.avatar {
  max-height:30px;
  border-radius: 15px;
  width:auto;
  vertical-align:middle;
}

.navbar {
  background-color: #A13CF4;
}

.btn {
  background-color: #A13CF4;
  color: #fff;
}

.btn:hover {
  color: #fff;
}

a {
  color: #000;
}
